name: Build and Publish

on:
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      publish_pypi:
        description: "Publish to PyPI"
        required: false
        type: boolean
        default: false

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  build:
    uses: ./.github/workflows/build-maturin.yml
    with:
      folder: python_bindings
      publish_pypi: ${{ github.event_name == 'workflow_dispatch' && inputs.publish_pypi || startsWith(github.ref, 'refs/tags/') }}
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      PERF_CLIENT_STAGING_ADDRESS: ${{ secrets.PERF_CLIENT_STAGING_ADDRESS }}